<div class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <h1><%= meeti.titulo %> </h1>
            <div class="info-autor">
                <div class="imagen">
                    <% if(meeti.usuario.imagen){ %> 
                        <img src="/uploads/perfiles/<%= meeti.usuario.imagen %>">
                    <% } %> 
                </div>
                <div class="informacion">
                    <p>Organizado por:</p>
                    <p class="autor">
                        <a href="/usuarios/<%= meeti.usuario.id %>"><%= meeti.usuario.nombre %></a> Creador de:
                        <a href="/grupos/<%= meeti.grupo.id %>"><%= meeti.grupo.nombre %></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="pregunta-asistencia">
            <p>¿Asistiras?</p>
            <% if(usuario.id){ %> 
                <form action="/confirmar-asistencia/<%= meeti.slug %>" id="confirmar-asistencia">
                    <% const existe = meeti.interesado.includes(usuario.id); %>
                        <% if(existe){ %>
                            <div class="text-center">
                                <input type="hidden" id="accion" value="cancelar">
                                <input type="submit" class="btn btn-rojo" value="Cancelar">
                            </div>
                        <% }else { %>
                            <div class="text-center">
                                <input type="hidden" id="accion" value="confirmar">
                                <input type="submit" class="btn btn-azul" value="SI">
                            </div>
                        <% } %> 
                        <div id="mensaje" class="lh-2"></div>
                </form>
            <% } else { %>
                <p>Inicia sesión para confirmar tu asistencia</p>
            <% } %>  
        </div>

    </div>
</div>

<main class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <div class="descripcion">
                <% if(meeti.grupo.imagen){ %> 
                    <img src="/uploads/grupos/<%= meeti.grupo.imagen %>" alt="El grupo no tiene imagen">
                <% } %> 
                <%- meeti.descripcion %>  
            </div>

            <div class="asistentes">
                <div class="titulo">
                    <h3><%= meeti.interesado.length %> Asistentes</h3>
                    <a href="/asistentes/<%= meeti.slug %> ">Ver Todos</a>
                </div>
            </div>

            <div class="comentarios">
                <h2>Comentarios</h2>
                <% if(comentarios.length > 0){ %> 
                    <% comentarios.forEach(comentario =>{ %> 
                        <div class="comentario">
                            <div class="imagen">
                                <% if(comentario.usuario.imagen){ %> 
                                    <img src="/uploads/perfiles/<%= comentario.usuario.imagen %>">
                                <% } %> 
                            </div>
                            <div class="texto">
                                <p><%= comentario.mensaje %> </p>
                                <p>Escrito por: 
                                    <a href="/usuarios/<%= comentario.usuario.id %>">
                                        <%= comentario.usuario.nombre %> 
                                    </a> 
                                </p>
                                <% if(comentario.usuario.id === usuario.id || meeti.usuarioId === usuario.id){ %>
                                    <form action="/eliminar-comentario" method="POST" class="eliminar-comentario">
                                        <input type="hidden" name="idComentario" value="<%= comentario.id %> ">
                                        <input type="submit" value="Eliminar" class="btn btn-azul">
                                    </form>
                                <% } %> 
                            </div>
                        </div>
                    <% }) %> 
                <% } else{ %>
                    <p class="text-center">¡Aún no hay comentarios!</p>
                <% } %>  

                <% if(usuario.id){ %> 
                    <form action="/meeti/<%= meeti.id %> " class="default-form comentarios" method="POST">
                        <legend>Agrega un comentario</legend>
                        <div class="campo">
                            <label for="comentario">Comentario</label>
                            <textarea name="comentario"></textarea>
                        </div>
                        <div class="campo enviar">
                            <input type="submit" class="btn btn-rosa" value="Enviar">
                        </div>
                    </form>
                <!-- /. form comentarios-->
                <% } else{ %>
                    <p class="text-center">Inicia sesión para acceder a los comentarios</p>
                <% } %>  

            </div>
            <!-- Comentarios -->

        </div>
        <!--./informacion-evento-->
        <aside class="informacion">
            <div class="fecha">
                <% moment.locale('es'); %>
                <% const fecha = meeti.fecha + ' ' + meeti.hora; %>  
                <p><%= moment(fecha).format('LLLL') %> Horas</p>
            </div>
            <div class="ubicacion">
                <p><%= meeti.direccion %>, <%= meeti.ciudad %>, <%= meeti.estado %>, <%= meeti.pais %> </p>
            </div>

            <input type="hidden" id="lat" value="<%= meeti.ubicacion.coordinates[0]; %> ">
            <input type="hidden" id="lng" value="<%= meeti.ubicacion.coordinates[1]; %> ">
            <input type="hidden" id="direccion" value="<%= meeti.direccion %> ">
            <div id="ubicacion-meeti" style="height: 250px;">
            </div>

        </aside>
    </div>
</main>

<h2>Otros Meeti's Cercanos</h2>
<div class="contenedor cercanos">
    <% if(cercanos.length > 0){ %>
        <% cercanos.forEach(meeti => { %>
            <%- include('partials/card-meeti.ejs', {meeti : meeti}); %>
        <% }) %>  
    <% }else{ %>
        <p class="text-center">No hay Meeti's Cercanos</p>
    <% } %>   
</div>